:root {
    --cor-branco: #F9FAFB;
    --cor-preto: #030712;
    --cor-cinza-escuro: #1F2937;
    --cor-cinza-medio: #3B3B3B;
    --cor-cinza-claro: #929EAF;
    --cor-roxo: #6D28D9;
    --cor-vermelho: #DC3545;
}

.product-details{
    color: var(--cor-branco);
    background-color: var(--cor-preto);
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.menu-header{
    background-color: var(--cor-preto);
}

.gradient-line{
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, transparent 0%, #6D28D9 40%, #6D28D9 60%, transparent 100%);
}

.btn.btn-primary.mt-3{
    background-color: var(--cor-roxo);
}

.btn.btn-primary.me-2{
    background-color: var(--cor-cinza-escuro);
}

#logo-home {
    color: #f6f6f7;
    text-decoration: none;
}

#logo-home:hover {
    color: var(--cor-roxo);
}

sub{
    color: var(--cor-cinza-claro);
}